@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bg {
    background-color: #F8EEE5;
  }
  
  .plant-bg {
    background-color:  #8dbf3b;
  }

.body{
   font-family:  "Rubik", sans-serif;
}  

.hero_bg {
    background-image: url('../public/hero-bg.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}